<template>
  <footer>
    <div class="container">
      <div class="columns">
        <div class="column is=half"></div>
        <div class="column">
          <div class="contact-us">
            <p class="my-2 py-2 white--text">
              Unit 6, 998 North Circular Road <br />Staples Corner London NW2
              7JR
            </p>
            <p class="my-4 white--text">
              +44 (0) 20 8450 9222
            </p>
            <p class="white--text">
              sales@meptrade.co.uk
            </p>
          </div>
          <div class="socials">
            <img class="mr-5" src="@/assets/images/Facebook.png" />
            <img src="@/assets/images/Instagram.png" />
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">
.footer-branding {
  width: 200px;
}

.socials {
  display: flex;

  img {
    width: 50px;
  }
}
</style>
