<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img
          src="https://bulma.io/images/bulma-logo.png"
          width="112"
          height="28"
        />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <nuxt-link class="navbar-item" to="/">
          Home
        </nuxt-link>

        <nuxt-link class="navbar-item" to="/about">
          About
        </nuxt-link>

        <nuxt-link class="navbar-item" to="/gallery">
          Gallery
        </nuxt-link>

        <nuxt-link class="navbar-item" to="/team">
          Team
        </nuxt-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {}
</script>

<style lang="scss">
.navbar {
  margin: 0 auto;
  justify-content: center;
}

.navbar-item {
  font-family: 'Muli';
}

@media screen and (min-width: 1408px) {
  .navbar {
    max-width: 1344px;
  }
}
</style>
