<template>
  <div class="site-main">
    <section class="about-us py-3 px-3 mb-6">
      <div class="container">
        <div class="columns">
          <div class="column is-5">
            <img src="@/assets/images/ARVS6979.JPG" />
          </div>
          <div class="column is-7 wrap-about">
            <div class="heading ml-5 mb-6">
              <h2 class="pl-3 is-size-3">
                About Us
              </h2>
            </div>
            <div class="about-content ml-5 pl-3">
              <div>
                <p>
                  MusicMantra is an event management company which is driven by
                  innovation and inspired by all things which are unique and
                  exceptionally different. We are highly experienced in a wide
                  range of events, be it any day.
                </p>
                <p>
                  MusicMantra was registered in Jaipur in 2006 as a event
                  management service providers and even before that we have been
                  providing Audio Rental services, with its wings spread across
                  all the majors cities of Rajasthan.
                </p>
                <p>
                  With this un-ended journey, simultaneously we have collected a
                  lot of experience and constantly upgraded our strengths in all
                  the areas of event management to provide our customer out of
                  the box results.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="our-services fullwidth mt-6 py-6">
      <div class="container">
        <div class="heading ml-5 mb-6">
          <h2 class="pl-3 is-size-3">
            What We Do
          </h2>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column bla is-4-desktop is-half-tablet is-12-mobile">
          <div class="content overlay">
            <h3>Weddings</h3>
          </div>
        </div>
        <div class="column parties is-4-desktop is-half-tablet is-12-mobile">
          <div class="content overlay">
            <h3>Parties</h3>
          </div>
        </div>
        <div class="column fests is-4-desktop is-half-tablet is-12-mobile">
          <div class="content overlay">
            <h3>Fests</h3>
          </div>
        </div>
        <div class="column corporate is-4-desktop is-half-tablet is-12-mobile">
          <div class="content overlay">
            <h3>Corporate Events</h3>
          </div>
        </div>
        <div class="column live-shows is-4-desktop is-half-tablet is-12-mobile">
          <div class="content overlay">
            <h3>Live Shows</h3>
          </div>
        </div>
        <div class="column other is-4-desktop is-half-tablet is-12-mobile">
          <div class="content overlay">
            <h3>Other Events</h3>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.about-us {
  width: 100%;
}

.wrap-about {
  text-align: left;
}

h2 {
  display: flex;
  align-items: center;

  &:after {
    position: relative;
    content: '';
    display: block;
    margin-left: 1.25rem;
    width: 300px;
    height: 1px;
    background: #333333;
  }
}

h4 {
  display: flex;
  align-items: center;
  text-transform: none;
}

p {
  padding-bottom: 1rem;
}

.our-services.fullwidth .column {
  min-height: 370px;
  position: relative;
  text-align: center;
  overflow: hidden;
  align-items: center;
}

.our-services.fullwidth {
  h3 {
    font-family: 'Muli';
    color: white;
    font-weight: 800;
    padding: 10% 50px 30% 50px;
    font-size: 2rem;
    position: relative;
    z-index: 3;
    opacity: 1;
    letter-spacing: 4px;
    transition: all 0.3s ease-in-out 0.1s;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    &:hover {
      background: rgba(0, 0, 0, 0.5);
      opacity: 1;
      transition: opacity 0.35s;
      transform: scale(1) translate3d(0, 0, 0);
    }
  }
}

.bla {
  background: url('~assets/images/ARVS9226.JPG') center no-repeat;
  background-size: cover;
}

.parties {
  background: url('~assets/images/20190910_155240.jpg') center no-repeat;
  background-size: cover;
}

.fests {
  background: url('~assets/images/20190811_205924.jpg') center no-repeat;
  background-size: cover;
}

.corporate {
  background: url('~assets/images/20160730_081212.jpg') center no-repeat;
  background-size: cover;
}

.live-shows {
  background: url('~assets/images/IMG-20150106-WA0022.jpg') center no-repeat;
  background-size: cover;
}

.other {
  background: url('~assets/images/20180817_182612.jpg') center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .content.overlay {
    opacity: 0;
    background: transparent;
  }
}
</style>
